<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="dev.yeonlog.dodamdodam.mappers.BookMapper">
    <!--    카테고리 전체 조회-->
    <select id="selectAllCategories" resultType="dev.yeonlog.dodamdodam.entities.CategoryEntity">
        SELECT `id`,
               `name`
        FROM `dodamdodam`.`categories`
    </select>
    <!--    도서 목록-->
    <select id="selectAllBooks" resultType="dev.yeonlog.dodamdodam.entities.BookEntity">
        SELECT b.`id`,
               b.`isbn`,
               b.`title`,
               b.`author`,
               b.`publisher`,
               b.`publish_date`,
               b.`total_quantity`,
               b.`status`,
               b.`is_recommended`,
               b.`recommend_reason`,
               b.`price`,
               b.`created_at`,
               GROUP_CONCAT(c.`name` SEPARATOR ', ') AS `category_name`
        FROM `dodamdodam`.`books` AS b
                 LEFT JOIN `dodamdodam`.`book_categories` bc ON b.`id` = bc.`book_id`
                 LEFT JOIN `dodamdodam`.`categories` c ON bc.`category_id` = c.`id`
        GROUP BY b.`id`, b.`isbn`, b.`title`, b.`author`, b.`publisher`,
                 b.`publish_date`, b.`total_quantity`, b.`status`, b.`is_recommended`,
                 b.`recommend_reason`, b.`price`, b.`created_at`
        ORDER BY b.`created_at` DESC
    </select>
    <select id="selectAllBooksWithStatus" resultType="dev.yeonlog.dodamdodam.entities.BookEntity">
        SELECT b.`id`,
               b.`title`,
               b.`author`,
               b.`total_quantity`,
               COUNT(CASE WHEN bc.`status` = 'AVAILABLE' THEN 1 END) AS `available_quantity`
        FROM `dodamdodam`.`books` AS b
                 LEFT JOIN `dodamdodam`.`book_copies` bc ON b.`id` = bc.`book_id`
        GROUP BY b.`id`, b.`title`, b.`author`, b.`total_quantity`, b.`created_at`
        ORDER BY b.`created_at` DESC
    </select>
    <!--    도서 등록-->
    <insert id="insertBook" parameterType="dev.yeonlog.dodamdodam.entities.BookEntity"
            useGeneratedKeys="true" keyProperty="id">
        INSERT INTO `dodamdodam`.`books` (`isbn`, `title`, `author`, `publisher`, `publish_date`,
                                          `total_quantity`, `status`, `is_recommended`,
                                          `recommend_reason`, `price`, `cover_image`, `is_admin_registered`)
        VALUES (#{isbn}, #{title}, #{author}, #{publisher}, #{publishDate},
                #{totalQuantity}, 'AVAILABLE', 0, #{recommendReason}, #{price}, #{coverImage}, #{adminRegistered})
    </insert>
    <!--    도서 사본 등록-->
    <insert id="insertBookCopy" parameterType="dev.yeonlog.dodamdodam.entities.BookCopyEntity">
        INSERT INTO `dodamdodam`.`book_copies` (book_id, status)
        VALUES (#{bookId}, 'AVAILABLE')
    </insert>
    <insert id="addBookCopy">
        INSERT INTO `dodamdodam`.`book_copies` (`book_id`, `status`)
        VALUES (#{bookId}, 'AVAILABLE')
    </insert>
    <insert id="insertBookCategory">
        INSERT INTO `dodamdodam`.`book_categories` (`book_id`, `category_id`)
        VALUES (#{bookId}, #{categoryId})
    </insert>
    <update id="updateTotalQuantity">
        UPDATE `dodamdodam`.`books`
        SET `total_quantity` = #{quantity}
        WHERE `id` = #{id}
    </update>
    <!-- 사본 보기-->
    <select id="selectCopiesByBookId" resultType="dev.yeonlog.dodamdodam.entities.BookCopyEntity">
        SELECT `id`,
               `book_id`,
               `status`
        FROM `dodamdodam`.`book_copies`
        WHERE `book_id` = #{bookId}
    </select>
    <select id="selectById" resultType="dev.yeonlog.dodamdodam.entities.BookEntity">
        SELECT *
        FROM `dodamdodam`.`books`
        WHERE `id` = #{id}
    </select>
    <update id="updateCopyStatus">
        UPDATE `dodamdodam`.`book_copies`
        SET `status` = #{status}
        WHERE `id` = #{id}
    </update>
    <update id="updateCoverImage">
        UPDATE `dodamdodam`.`books` SET `cover_image` = #{coverImage} WHERE `id` = #{id}
    </update>
    <update id="updateBook" parameterType="dev.yeonlog.dodamdodam.entities.BookEntity">
        UPDATE `dodamdodam`.`books`
        SET `title`          = #{title},
            `author`         = #{author},
            `publisher`      = #{publisher},
            `publish_date`   = #{publishDate},
            `price`          = #{price},
            `cover_image`    = #{coverImage},
            `total_quantity` = #{totalQuantity}
        WHERE `id` = #{id}
    </update>
    <delete id="deleteBookCategories">
        DELETE FROM `dodamdodam`.`book_categories`
        WHERE `book_id` = #{bookId}
    </delete>
    <!--    도서 검색-->
    <select id="searchBooks" resultType="dev.yeonlog.dodamdodam.entities.BookEntity">
        SELECT b.`id`,
        b.`isbn`,
        b.`title`,
        b.`author`,
        b.`publisher`,
        b.`publish_date`,
        b.`total_quantity`,
        b.`status`,
        b.`created_at`,
        b.`cover_image`,
        GROUP_CONCAT(c.`name` SEPARATOR ', ') AS `category_name`,
        COUNT(CASE WHEN bcp.`status` = 'AVAILABLE' THEN 1 END) AS `available_quantity`
        FROM `dodamdodam`.`books` AS b
        LEFT JOIN `dodamdodam`.`book_categories` bc ON b.`id` = bc.`book_id`
        LEFT JOIN `dodamdodam`.`categories` AS c ON bc.`category_id` = c.`id`
        LEFT JOIN `dodamdodam`.`book_copies` AS bcp ON b.`id` = bcp.`book_id`
        <where>
            <choose>
                <when test="type == 'title'">
                    b.`title` LIKE CONCAT('%', #{keyword}, '%')
                </when>
                <when test="type == 'author'">
                    b.`author` LIKE CONCAT('%', #{keyword}, '%')
                </when>
                <when test="type == 'isbn'">
                    b.`isbn` LIKE CONCAT('%', #{keyword}, '%')
                </when>
                <otherwise>
                    b.`title`    LIKE CONCAT('%', #{keyword}, '%')
                    OR b.`author`    LIKE CONCAT('%', #{keyword}, '%')
                    OR b.`isbn`      LIKE CONCAT('%', #{keyword}, '%')
                    OR b.`publisher` LIKE CONCAT('%', #{keyword}, '%')
                </otherwise>
            </choose>
        </where>
        GROUP BY b.`id`, b.`isbn`, b.`title`, b.`author`, b.`publisher`,
        b.`publish_date`, b.`total_quantity`, b.`status`, b.`created_at`, b.`cover_image`
        ORDER BY b.`created_at` DESC
        LIMIT #{pageSize} OFFSET #{offset}
    </select>
    <select id="searchBooksWithStatus" resultType="dev.yeonlog.dodamdodam.entities.BookEntity">
        SELECT b.`id`,
               b.`title`,
               b.`author`,
               b.`total_quantity`,
               COUNT(CASE WHEN bc.`status` = 'AVAILABLE' THEN 1 END) AS `available_quantity`
        FROM `dodamdodam`.`books` AS b
                 LEFT JOIN `dodamdodam`.`book_copies` bc ON b.`id` = bc.`book_id`
        WHERE REPLACE(b.`title`, ' ', '') LIKE CONCAT('%', REPLACE(#{keyword}, ' ', ''), '%')
           OR REPLACE(b.`author`, ' ', '') LIKE CONCAT('%', REPLACE(#{keyword}, ' ', ''), '%')
        GROUP BY b.`id`, b.`title`, b.`author`, b.`total_quantity`, b.`created_at`
        ORDER BY b.`created_at` DESC
        LIMIT #{pageSize} OFFSET #{offset}
    </select>

    <select id="countBooksWithStatus" resultType="int">
        SELECT COUNT(DISTINCT b.`id`)
        FROM `dodamdodam`.`books` AS b
        WHERE REPLACE(b.`title`, ' ', '') LIKE CONCAT('%', REPLACE(#{keyword}, ' ', ''), '%')
           OR REPLACE(b.`author`, ' ', '') LIKE CONCAT('%', REPLACE(#{keyword}, ' ', ''), '%')
    </select>
    <select id="selectAvailableCopy" resultType="dev.yeonlog.dodamdodam.entities.BookCopyEntity">
        SELECT *
        FROM `dodamdodam`.`book_copies`
        WHERE `book_id` = #{bookId}
          AND `status` = 'AVAILABLE'
        LIMIT 1
    </select>
    <select id="countSearchBooks" resultType="int">
        SELECT COUNT(DISTINCT b.`id`)
        FROM `dodamdodam`.`books` AS b
        LEFT JOIN `dodamdodam`.`book_categories` bc ON b.`id` = bc.`book_id`
        LEFT JOIN `dodamdodam`.`categories` AS c ON bc.`category_id` = c.`id`
        <where>
            <choose>
                <when test="type == 'title'">
                    b.`title` LIKE CONCAT('%', #{keyword}, '%')
                </when>
                <when test="type == 'author'">
                    b.`author` LIKE CONCAT('%', #{keyword}, '%')
                </when>
                <when test="type == 'isbn'">
                    b.`isbn` LIKE CONCAT('%', #{keyword}, '%')
                </when>
                <otherwise>
                    b.`title`    LIKE CONCAT('%', #{keyword}, '%')
                    OR b.`author`    LIKE CONCAT('%', #{keyword}, '%')
                    OR b.`isbn`      LIKE CONCAT('%', #{keyword}, '%')
                    OR b.`publisher` LIKE CONCAT('%', #{keyword}, '%')
                </otherwise>
            </choose>
        </where>
    </select>
    <select id="countAllBooks" resultType="java.lang.Integer">
        SELECT COUNT(*) FROM `dodamdodam`.`books`
    </select>
    <select id="selectAllBooksWithPage" resultType="dev.yeonlog.dodamdodam.entities.BookEntity">
        SELECT b.`id`,
               b.`isbn`,
               b.`title`,
               b.`author`,
               b.`publisher`,
               b.`publish_date`,
               b.`total_quantity`,
               b.`status`,
               b.`is_recommended`,
               b.`recommend_reason`,
               b.`price`,
               b.`created_at`,
               GROUP_CONCAT(c.`name` SEPARATOR ', ') AS `category_name`
        FROM `dodamdodam`.`books` AS b
                 LEFT JOIN `dodamdodam`.`book_categories` bc ON b.`id` = bc.`book_id`
                 LEFT JOIN `dodamdodam`.`categories` c ON bc.`category_id` = c.`id`
        GROUP BY b.`id`, b.`isbn`, b.`title`, b.`author`, b.`publisher`,
                 b.`publish_date`, b.`total_quantity`, b.`status`, b.`is_recommended`,
                 b.`recommend_reason`, b.`price`, b.`created_at`
        ORDER BY b.`created_at` DESC
        LIMIT #{pageSize} OFFSET #{offset}
    </select>
    <select id="searchBooksByCategory" resultType="dev.yeonlog.dodamdodam.entities.BookEntity">
        SELECT b.*, GROUP_CONCAT(c.name) AS categoryName,
               COUNT(bc2.book_id) AS availableQuantity
        FROM `dodamdodam`.`books` b
                 LEFT JOIN `dodamdodam`.`book_categories` AS bc ON b.`id` = bc.`book_id`
                 LEFT JOIN  `dodamdodam`.`categories` AS c ON bc.`category_id` = c.`id`
                 LEFT JOIN  `dodamdodam`.`book_copies` AS bc2 ON b.`id` = bc2.`book_id` AND bc2.`status` = 'AVAILABLE'
        WHERE bc.`category_id` = #{categoryId}
        GROUP BY b.`id`
        LIMIT #{pageSize} OFFSET #{offset}
    </select>
    <select id="countBooksByCategory" resultType="int">
        SELECT COUNT(DISTINCT b.`id`)
        FROM `dodamdodam`.`books` b
                 LEFT JOIN `dodamdodam`.`book_categories` AS bc ON b.`id` = bc.`book_id`
        WHERE bc.`category_id` = #{categoryId}
    </select>
    <select id="selectNewBooks" resultType="dev.yeonlog.dodamdodam.entities.BookEntity">
        SELECT b.*, GROUP_CONCAT(c.name) AS categoryName,
        COUNT(bc2.id) AS availableQuantity
        FROM books b
        LEFT JOIN book_categories bc ON b.id = bc.book_id
        LEFT JOIN categories c ON bc.category_id = c.id
        LEFT JOIN book_copies bc2 ON b.id = bc2.book_id AND bc2.status = 'AVAILABLE'
        WHERE 1=1
        AND b.`is_admin_registered` = 1
        <if test="categoryId != null">
            AND bc.category_id = #{categoryId}
        </if>
        <if test="month != null">
            AND MONTH(b.created_at) = #{month}
        </if>
        <if test="week != null">
            AND CEIL(DAY(b.created_at) / 7.0) = #{week}
        </if>
        GROUP BY b.id
        ORDER BY b.created_at DESC
        LIMIT #{pageSize} OFFSET #{offset}
    </select>
    <select id="countNewBooks" resultType="int">
        SELECT COUNT(DISTINCT b.id)
        FROM books b
        LEFT JOIN book_categories bc ON b.id = bc.book_id
        WHERE 1=1
        AND b.`is_admin_registered` = 1
        <if test="categoryId != null">
            AND bc.category_id = #{categoryId}
        </if>
        <if test="month != null">
            AND MONTH(b.created_at) = #{month}
        </if>
        <if test="week != null">
            AND CEIL(DAY(b.created_at) / 7.0) = #{week}
        </if>
    </select>
    <select id="findBookIdByIsbn" resultType="java.lang.Long">
        SELECT `id`
        FROM `dodamdodam`.`books`
        WHERE `isbn` = #{isbn}
    </select>
    <insert id="insertBookAuto" parameterType="dev.yeonlog.dodamdodam.entities.BookEntity" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO `dodamdodam`.`books`
        (`isbn`,
         `title`,
         `author`,
         `publisher`,
         `publish_date`,
         `total_quantity`,
         `status`,
         `is_recommended`,
         `price`, `cover_image`)
        VALUES (#{isbn},
                #{title},
                #{author},
                #{publisher},
                #{publishDate},
                1,
                'AVAILABLE',
                0,
                0,
                #{coverImage})
    </insert>
    <select id="countAllBooksWithStatus" resultType="int">
        SELECT COUNT(*) FROM `dodamdodam`.`books`
    </select>
    <select id="selectAllBooksWithStatusPage" resultType="dev.yeonlog.dodamdodam.entities.BookEntity">
        SELECT b.`id`,
               b.`title`,
               b.`author`,
               b.`total_quantity`,
               COUNT(CASE WHEN bc.`status` = 'AVAILABLE' THEN 1 END) AS `available_quantity`
        FROM `dodamdodam`.`books` AS b
                 LEFT JOIN `dodamdodam`.`book_copies` bc ON b.`id` = bc.`book_id`
        GROUP BY b.`id`, b.`title`, b.`author`, b.`total_quantity`, b.`created_at`
        ORDER BY b.`created_at` DESC
        LIMIT #{pageSize} OFFSET #{offset}
    </select>
</mapper>