<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="dev.yeonlog.dodamdodam.mappers.EventAdminMapper">
    <update id="updateStatus">
        UPDATE `dodamdodam`.`events`
        SET `status` = #{status}
        WHERE `id` = #{id}
    </update>
    <delete id="deleteById">
        DELETE
        FROM `dodamdodam`.`events`
        WHERE `id` = #{id}
    </delete>
    <select id="findAll" resultType="dev.yeonlog.dodamdodam.dtos.EventAdminDto">
        SELECT `e`.`id` AS `id`,
               `e`.`title` AS `title`,
               `e`.`description` AS `description`,
               `e`.`target` AS `target`,
               `e`.`capacity` AS `capacity`,
               DATE_FORMAT(`e`.`event_start_at`, '%Y년 %m월 %d일 %H : %i') AS `eventStartAt`,
               DATE_FORMAT(`e`.`event_end_at`,   '%Y년 %m월 %d일 %H : %i') AS `eventEndAt`,
               DATE_FORMAT(`e`.`apply_start_at`, '%Y년 %m월 %d일 %H : %i') AS `applyStartAt`,
               DATE_FORMAT(`e`.`apply_end_at`,   '%Y년 %m월 %d일 %H : %i') AS `applyEndAt`,
               `e`.`status` AS `status`,
               `e`.`created_at` AS `createdAt`,
               `e`.`poster_image` AS `posterImage`,
               (SELECT COUNT(*)
                FROM `dodamdodam`.`event_applications` AS `ea`
                WHERE `ea`.`event_id` = `e`.`id`) AS `applicantCount`
        FROM `dodamdodam`.`events` AS `e`
        ORDER BY `e`.`created_at` DESC
        LIMIT #{limit} OFFSET #{offset}
    </select>
    <select id="countAll" resultType="java.lang.Integer">
        SELECT COUNT(*)
        FROM `dodamdodam`.`events`
    </select>
</mapper>