<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>로그인</title>
    <link rel="stylesheet" href="/user/styles/login.css">
</head>
<body>
<!-- 네비게이션 바 -->
<header th:replace="~{fragment/common :: .nav}"></header>

<main class="main">
    <div class="login-box">
        <h1 class="login-title">LOGIN</h1>

        <form class="login-form" action="/login" method="post">
            <div class="form-field">
                <label class="form-label">
                    <span class="form-caption">ID</span>
                    <input class="form-input" type="text" id="userId" name="username">
                </label>
                <label class="form-field">
                    <span class="form-caption">PASSWORD</span>
                    <input class="form-input" type="password" id="password" name="password">
                </label>

                <button class="btn btn-label" type="submit">로그인</button>
                <button class="btn btn-register" type="button" onclick="location.href='/register'">회원가입</button>
                <div class="login-links">
                    <a href="/find-account" class="login-link">아이디 찾기</a>
                    <span class="login-link-divider">|</span>
                    <a href="/find-account?tab=find-pw" class="login-link">비밀번호 찾기</a>
                </div>
            </div>
        </form>
    </div>
</main>
<footer th:replace="~{fragment/common :: footer}"></footer>
</body>
</html>